<script>
    AOS.init();
</script>
<div data-aos="fade-up">
    <div class="row-languages">
        <div class="column-languages">
            <img src="/images/languages/js.svg">
            <img src="/images/languages/cs.svg">

        </div>
        <div class="column-languages">
            <img src="/images/languages/ts.svg">
            <img src="/images/languages/cpp.svg">

        </div>
        <div class="column-languages">
            <img src="/images/languages/java.svg">
            <img src="/images/languages/mongo.svg">

        </div>
        <div class="column-languages">
            <img src="/images/languages/python.svg">
        </div>
    </div>
</div>
