<div class="body-four-blocks">

    <div class="four-blocks-container">

        <!--    CARD #1     -->
        <div class="four-blocks-card">
            <div class="four-blocks-card-imgBx" data-text="Design">
                <img src="/images/design.png">
            </div>
            <div class="four-blocks-card-content">
                <div>
                    <h3>Design</h3>
                    <p>Lorm ipsum dolor sit ament, consectutor dura lex set lex</p>
                    <a href="#">Ream More</a>
                </div>
            </div>
        </div>
        <!--    CARD #2     -->
        <div class="four-blocks-card">
            <div class="four-blocks-card-imgBx" data-text="Code">
                <img src="/images/code.png">
            </div>
            <div class="four-blocks-card-content">
                <div>
                    <h3>Code</h3>
                    <p>Lorm ipsum dolor sit ament, consectutor dura lex set lex</p>
                    <a href="#">Ream More</a>
                </div>
            </div>
        </div>
        <!--    CARD #3     -->
        <div class="four-blocks-card">
            <div class="four-blocks-card-imgBx" data-text="Launch">
                <img src="/images/launch.png">
            </div>
            <div class="four-blocks-card-content">
                <div>
                    <h3>Launch</h3>
                    <p>Lorm ipsum dolor sit ament, consectutor dura lex set lex</p>
                    <a href="#">Ream More</a>
                </div>
            </div>
        </div>
        <!--    CARD #4     -->
        <div class="four-blocks-card">
            <div class="four-blocks-card-imgBx" data-text="Earn">
                <img src="/images/earn.png">
            </div>
            <div class="four-blocks-card-content">
                <div>
                    <h3>Earn</h3>
                    <p>Lorm ipsum dolor sit ament, consectutor dura lex set lex</p>
                    <a href="#">Ream More</a>
                </div>
            </div>
        </div>
    </div>

</div>
