<div class="menu">
        <div class="menu__header"></div>
        <ul class="menu__list">
            <li><a rel="noopener" href="/">Home</a></li>
            <li><a rel="noopener" href="/">A.T.H.E.N.A</a></li>
            <li><a rel="noopener" href="/login">Dashboard</a></li>
            <li><a rel="noopener" href="/projects">Projects</a></li>
            <li><a rel="noopener" href="/robotics">Robotics</a></li>
            <li><a rel="noopener" href="/algorithms">Algorithms</a></li>
            <li><a rel="noopener" href="/">Potatoe.js</a></li>
<!--            <li><a rel="noopener" href="#">-->
<!--                <button type="button" class="open-modal" data-open="modal2">-->
<!--                    Settings-->
<!--                </button></a>-->
<!--            </li>-->


        </ul>
    </div>
    <div class="menu__overlay"></div>
    <script src="./js/menu.js"></script>
    <% include ./settings-modal %>
