<div class="photo-cart-body">
    <div class="photo-card-container">
        <div class="photo-card">
            <div class="imgBx">
                <img src="/images/img1.jpg">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h2>Andrzej Świętek</h2>
                    <p>
                        Hi, My name is Andrzej !
                        Hi, My name is Andrzej !
                        Hi, My name is Andrzej !
                    </p>
                    <a href="#">Read More</a>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="photo-cart-body">
    <div class="photo-card-container">
        <div class="photo-card">
            <div class="imgBx">
                <img src="/images/img1.jpg">
            </div>
            <div class="contentBx">
                <div class="content">
                    <h2>Andrzej Świętek</h2>
                    <p>
                        Hi, My name is Andrzej !
                        Hi, My name is Andrzej !
                        Hi, My name is Andrzej !
                    </p>
                    <a href="#">Read More</a>

                </div>
            </div>
        </div>
    </div>

</div>



