<% include ./partials/header %>
<% include ./partials/menu %>
<script>
    AOS.init();

</script>
<div data-aos="fade-up">
    <section class="card_container">

        <ul class="flex-container wrap">
            <li class="flex-item ai"></li>
            <li class="flex-item3">
                <h1>A.T.H.E.N.A</h1>
                <!--                        <h3>FRC Team #222</h3>-->
                <h2>Tensorflow, Scikit Learn, Python</h2>
            </li>
        </ul>

    </section>
</div>



<section class="card_container">
    <div data-aos="fade-right">
        <ul class="flex-container wrap">
            <li class="flex-item tgnet cont">
                <div class="visit">
                    <a href="https://tigertrons.herokuapp.com/" target="_blank"><div class="text">Visit</div></a>
                </div>
            </li>
            <li class="flex-item2">
                <h1>Tigertrons.net</h1>
                <!--                        <h3>FRC Team #222</h3>-->
                <h2>React, Express.js, MongoDB, SCSS, PWA</h2>
            </li>
        </ul>
    </div>
    <div data-aos="fade-up">
        <ul class="flex-container wrap">
            <li class="flex-item swietekpl cont">
                <div class="visit">
                    <a href="http://www.swietek.pl" target="_blank"><div class="text">Visit</div></a>
                </div>
            </li>
            <li class="flex-item2">
                <h1>Swietek.pl </h1>
                <!--                    <h3>Website about my Exchange in USA 2018/19</h3>-->
                <h2>HTML5, CSS, JS, JQUERY, RWD</h2>
            </li>
        </ul>
    </div>

    <div data-aos="fade-right">
        <ul class="flex-container wrap">
            <li class="flex-item frcdashboard cont">
                <div class="visit">
                    <a href="#" target="_blank"><div class="text">Install</div></a>
                </div>
            </li>
            <li class="flex-item2">
                <h1>FRC #222 Dashboard</h1>
                <!--                    <h3>Dashboard for Robotics Competiton</h3>-->
                <h2>Electron</h2>
            </li>
        </ul>
    </div>
    <div data-aos="fade-up">
        <ul class="flex-container wrap">
            <li class="flex-item emptywww cont">
                <div class="visit">
                    <a href="http://www.tl.krakow.pl" target="_blank"><div class="text">Visit</div></a>
                </div>
            </li>
            <li class="flex-item2">
                <h1>ZSŁ in Krakow</h1>
<!--                <h3>Official School Website of Zespol Szkol Lączności in Krakow</h3>-->
                <h2>Angular 6, TypeScript</h2>
            </li>
         </ul>
    </div>
    <div data-aos="fade-right">
        <ul class="flex-container wrap">
            <li class="flex-item portfolio-www cont">
                <div class="visit">
                    <a href="http://www.swietek.pl" target="_blank"><div class="text">Visit</div></a>
                </div>
            </li>
            <li class="flex-item2">
                <h1>Portfolio</h1>

                <h2>Express.js, EJS, PWA</h2>
            </li>
    </ul>
    </div>
</section>



<% include ./partials/settings-modal %>
<% include ./partials/footer %>
